<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.telemetry.monitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/telemetry</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>REPLACE_WITH_HOME/.telemetry/telemetry.log</string>
    <key>StandardErrorPath</key>
    <string>REPLACE_WITH_HOME/.telemetry/telemetry.err</string>
</dict>
</plist>
